<div class="card-regist">
  <h3> <%= regist.created_at.strftime('%d - %m - %Y') %></h3>
  <h2> <%= regist.caixa %> </h2>
  <ul>
    <%= regist.five %>
    <%= regist.ten %>
    <%= regist.twenty %>
    <%= regist.fifty %>
    <%= regist.hund %>
    <%= regist.two_hund %>
    <%= regist.five_hund %>
    <%= regist.coin %>
    <%= regist.reforco %>
    <%= regist.payment %>
    <%= regist.caixa_value %>
  </ul>
</div>